<div class="subtabs">
    {% if user_role == "logistique" or user_role == "maintenancier" or user_role == "dga" or user_role == "directeur" or user_role == "controleur" %}<a href="/maintenance/garage/" class="subtab {% if active_tab == 'garage' %}active{% endif %}">Garage / diagnostic</a>{% endif %}
    {% if user_role == "logistique" or user_role == "directeur" or user_role == "controleur" %}<a href="/maintenance/achat/" class="subtab {% if active_tab == 'achat' %}active{% endif %}">Achat / prix</a>{% endif %}
    {% if can_access_maintenance_payment %}<a href="/maintenance/paiements/" class="subtab {% if active_tab == 'paiements' %}active{% endif %}">Paiements</a>{% endif %}
    <a href="/maintenance/stock/" class="subtab {% if active_tab == 'stock' %}active{% endif %}">Stock</a>
    <a href="/maintenance/stock/rapports/" class="subtab {% if active_tab == 'rapport_stock' %}active{% endif %}">Rapports stock</a>
    <a href="/maintenance/rapports/" class="subtab {% if active_tab == 'rapports' %}active{% endif %}">Rapports</a>
    <a href="/maintenance/rapports/pannes/" class="subtab {% if active_tab == 'rapport_pannes' %}active{% endif %}">Pannes / main d'oeuvre</a>
    {% if user_role == "logistique" or user_role == "directeur" %}<a href="/maintenance/fournisseurs/" class="subtab {% if active_tab == 'fournisseurs' %}active{% endif %}">Fournisseurs</a>{% endif %}
</div>
